.inventrom-header{
	left:0px;
	right :0px;
	height:100px;
	width: 100%;
	background-color:white;	
}
.div-logo{
	height :100%;
	margin:15px;
	float:left;
}
.inventrom-nav{
	float:right;
	height:100%;
}
.inventrom-nav a{
	color:black;
	font-size: 20px;
	padding-right:20px;
	padding-top:10%;
	text-decoration:none;
	display:inline-block;
}
.text-over-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card1 {
	
	margin-left:100px;
	width:400px;
	height:350px;
	float:left;
	
}
.card2 {
	
	margin-left:300px; 	
	width:400px;
	height:350px;
	float:right;
	
}

.award-card{
	
	height:300px;
	padding:1.5%;
	width:22%;
	float:left;
	margin-bottom:30px; 	
}
.footer{
	
	height:100%;
	padding:50px;
	background-color:#139139;
	color:white;
	font-size:20px;
}
